</div> <!-- Closing the main content container | ⴰⵏⵙⴼⴰⵍ ⵏ ⵜⴰⵙⴰⴷⵓⵜ ⵏ ⵜⵓⵙⴳⴳⵉⵍⵜ ⵜⴰⵏⵏⵖⴰⵔⵜ -->

<footer>
    <p class="slogan"><%= slogan %></p>
    <div class="container">
        <p>&copy; 2023 Moroccan Pixels for Hope | ⵜⵉⴼⵉⵏⴰⵖ ⴼⵓⵔ ⵎⵓⵔⴰⴽⵓ. All rights reserved | ⴰⴽⴽ ⵉⵣⴷⵉⵏ ⵢⵉⵍⵉⵏ.</p>
        <p>Made with ❤ for a brighter future | ⵢⴻⴷⵍⴰⵡ ⵖⵉⵔ ⵏ ⵙⵏⴰⵜ ⵣⵣⵓⴼⵏⵉⵏ.</p>
        <ul>
            <li><a href="/terms">Terms & Conditions | ⵜⵉⴼⵉⵏⴰⵖ ⴼⵓⵔ ⵜⵉⵣⵣⵉⵔⴰ</a></li> 
            <li><a href="/privacy">Privacy Policy | ⵜⵉⴼⵉⵏⴰⵖ ⴼⵓⵔ ⴰⵎⴰⵏ</a></li> 
        </ul>
    </div>
</footer>

</body>
</html>
