<!DOCTYPE html>
<html lang="<%= lang || 'en' %>" dir="<%= lang === 'ar' ? 'rtl' : '' %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('title') %></title> <!-- Use i18n translation for title -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js" defer></script>  
    <script src="/static/js/client.js" defer></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.11/pako.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4783035827650771"
    crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <nav class="container">
            <!--a href="/" class="logo">
                <img src="static/images/logo.png" alt="<%= __('logoText') %>">
                
            </a-->
            <div class="hero logo">
                <img src="static/images/logo.png" class="hero-graphic">
              </div>
            <div class="nav-items">
                <ul>
                    <li><a href="/"><%= __('acceuil') %></a></li>
                    <li><a href="/about"><%= __('about') %></a></li>
                    <li><a href="/faq"><%= __('faq') %></a></li>
                    <li><a href="/contact"><%= __('contact') %></a></li>
                </ul>
    
                <ul class="language-selection">
                    <li><a href="/lang/fr">FR</a></li>
                    <li><a href="/lang/ar">عربى</a></li>
                    <li><a href="/lang/en">EN</a></li>
                </ul>
            </div>
        </nav>
    </header>

<div class="container">