<%- include('./partials/header.ejs') %>

<main>
    <h1><%= title %></h1>
    <p class="slogan"><%= slogan %></p>
    <p>
        <%= description %>
    </p>
    <div class="container">
        <p class="slogan"><%= slogan %></p>
        <div class="flag-container">
            <img src="/static/images/flag.jpg" class="flag-image">
            <div class="fog-layer"></div>
    </div>
    </div>

        <!-- New Modal HTML Structure -->
        <div id="checkoutModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2><%= modalBuyPixels %></h2>
                
                <label for="pixelCount"><%= modalSelectPixels %></label>
                <input type="number" id="pixelCount" min="1">
                
                <label for="email"><%= emailOptional %> :</label>
                <input type="email" id="email" placeholder="example@example.ma">
                
                <p>Total: $<span id="totalAmount">0</span></p>
                
                <button id="buyNow" class="donateButton"><%= modalBuyNow %></button>
                
                <p class="note">
                    <%= noteText %>
                </p>                
            </div>
        </div>
        
        

    <div class="donation-section">
        <h2><%= supportTitle %></h2>
        <p class="slogan"><%= slogan %></p>
        <p>
            <%= supportDescription %>
        </p>
        <p id="selectedPixel"><%= pixelInstruction %></p>
        <button id="donateButton" class="donateButton"><%= donateButtonText %></button>
        <p class="note">
            <%= noteText2 %>
        </p>
    </div>

    <!-- Nouvelle section: Support Via Publicité -->
    <section class="ads-support-section">
        <h2><%= adsSupportTitle %></h2>
        <p> <%= adsSupportDescription %> </p>
        <!-- Ici, vous intégrez votre unité publicitaire AdSense -->
        <div class="adsense-unit">
            <!-- Remplacez par votre code AdSense réel -->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4783035827650771"
     crossorigin="anonymous"></script>
            <!-- Remplacer 'data-ad-slot' par votre propre numéro de slot -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-XXXXXXXXXXXXX" data-ad-slot="XXXXXXX" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <p id="clickCounter">Clics: <span>0</span> / 10</p>
    </section>
    <section>
        <h2><%= howItWorks %></h2>
        <p>
            <%= howItWorksDescription %>
        </p>
    </section>
    
    <section>
        <h2><%= contactTitle %></h2>
        <p>
            <%= contactDescription %> <a href="/contact"><%= contactLinkText %></a>.
        </p>
    </section>
    
</main>

<%- include('./partials/footer.ejs') %>