body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   }


/* Styles for RTL languages */
body.rtl {
    direction: rtl !important;
    text-align: right !important;
}

/* Make sure elements that should stay LTR (like URLs or code snippets) don't get affected by RTL */
body.rtl .ltr-only {
    direction: ltr;
    unicode-bidi: bidi-override;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #e23e57; /* A variation of red for a bright and energetic feel */
    color: white;
    padding: 15px 0;
}

nav.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;  /* Align the text and image vertically centered */
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: none;
    color: white;
    gap: 10px;            /* Add some space between the image and the text */
}

.logo img {
    width: 40px;          /* Set a fixed width for the logo image */
    height: 40px;         /* Set a fixed height for the logo image */
    object-fit: contain;  /* Ensures the logo maintains its aspect ratio */
    border-radius: 50%;   /* Optionally, make the logo image circular */
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px; /* Space between items */
}

ul li {
    list-style: none;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: #009688; /* A touch of green for hope and growth on hover */
}

.language-selection {
    top: 15px;
    right: 15px;
}

.language-selection li a {
    padding: 5px 8px; /* Slightly smaller padding for language links */
    font-size: 14px;
    background-color: transparent; /* No background by default */
}

.language-selection li a:hover {
    background-color: #009688; /* A touch of green for hope and growth on hover */
}


footer {
    background: linear-gradient(to bottom, #e23e57, #009688);
    color: white;
    padding: 30px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer ul {
    display: flex;
    gap: 15px;
}

footer li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer li a:hover {
    color: #e6e6e6; /* Slightly lighter shade on hover */
}

.flag-container {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: auto;  /* This can help in some scenarios but might be redundant with flexbox */
}

.flag-image, .fog-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
}

.fog-layer {
    background-color: rgba(255, 255, 255, 0.7); /* This is your fog */
    z-index: 2;
}

.pixel-clear {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: transparent;
    z-index: 3;
}
@media only screen and (max-width: 767px) {

    .container, header, footer {
        width: 100%;
        box-sizing: border-box; /* To make sure padding and border are included in the width */
    }

    nav.container {
        flex-direction: column;
    }

    .nav-items {
        flex-direction: column;
        gap: 10px;
    }
    
    .flag-container {
        width: 100%;
        height: auto;
        position: relative;
    }

    .flag-image {
        width: 100%;      
        height: 100vw;    
        object-fit: contain;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .fog-layer {
        width: 100%;      
        height: 100vw;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    /* Assuming your text is wrapped in a div with the class .content-text */
    .content-text {
        position: relative; 
        z-index: 10; /* Setting a much higher z-index to ensure text is always on top */
    }

     /* Assuming the header has a class of .header */
     .header {
        display: flex;
        justify-content: space-between; /* This will space out the logo and nav items */
        align-items: center; /* Vertically aligns everything in the header */
        padding: 10px 15px; /* Some padding for breathing space */
        box-sizing: border-box; /* Ensures padding doesn't increase width */
        width: 100%;
        background-color: #333; /* Just as an example, can be any color */
        color: #fff; /* White text color for contrast */
    }

    /* If you have a logo in the header with a class of .logo */
    .logo {
        width: 100px; /* Adjust based on the size of your logo */
        height: auto;
    }

    /* If the navigation is a typical <ul> with <li> items */
    .header-nav {
        display: flex;
        gap: 10px; /* Gives some space between the navigation items */
    }

    .header-nav li {
        list-style: none; /* Removes bullet points */
    }

    .header-nav a {
        text-decoration: none; /* Removes underlines from links */
        color: #fff; /* White link color */
        padding: 5px 10px; /* Some padding for a better clickable area */
        border-radius: 5px; /* Slightly rounded corners */

        /* Adding a hover effect, just as an example */
        transition: background-color 0.3s;
    }

    .header-nav a:hover {
        background-color: rgba(255, 255, 255, 0.1); /* Slight hover effect for links */
    }
}


/*

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
*/
/* Backdrop */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(206, 17, 38, 0.8);
  }
  
  /* Content Box */
  .modal-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #fff;
    border: 2px solid #a22838;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(162, 40, 56, 0.5);
    padding: 20px;
    width: 300px;
  }
  
  /* Close Button */ 
  .close {
    color: #a22838;
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: 10px; 
    cursor: pointer;
  }
  
  /* Typography */
  h2 {
    color: #009688;
    font-size: 24px;
    font-weight: bold;  
    margin-top: 0;
  }
  
  p {
    color: #009688;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Pixel Input */
  input {
    border: 1px solid #009688;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    color: #009688;
    font-size: 16px;
  }

  /* --- Bouton Don --- */
.donateButton {
    background-color: #e23e57; /* La couleur rouge dominante du site */
    color: #fff; /* Texte blanc pour contraster avec l'arrière-plan rouge */
    padding: 12px 24px; /* Un bon padding pour le rendre grand et cliquable */
    border: none; /* Pas de bordure pour un look moderne */
    border-radius: 5px; /* Coins arrondis pour adoucir l'apparence */
    font-size: 18px; /* Taille de police légèrement augmentée pour une meilleure lisibilité */
    font-weight: bold; /* Gras pour mettre en évidence */
    cursor: pointer; /* L'icône de la main pour indiquer que c'est un bouton cliquable */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transition douce pour les effets de survol */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce pour donner une sensation de profondeur */
}

    /* Effet de survol pour le bouton de don */
    .donateButton:hover {
        background-color: #009688; /* Un effet de survol utilisant la couleur verte du site */
        transform: scale(1.05); /* Une légère augmentation de la taille pour un effet de survol subtil */
    }

    /* Effet de pression sur le bouton */
    .donateButton:active {
        transform: scale(0.98); /* Rétrécit un peu le bouton lorsqu'il est pressé */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Diminution de l'ombre pour l'effet enfoncé */
    }

    /* Si le bouton est désactivé */
    .donateButton:disabled {
        background-color: #ccc; /* Fond gris pour indiquer la désactivation */
        cursor: not-allowed; /* Icone 'interdiction' pour montrer qu'il n'est pas cliquable */
        box-shadow: none; /* Pas d'ombre pour un bouton désactivé */
    }

/* --- Soutien Via Publicité --- */
.ads-support-section {
    background-color: #f9f9f9;
    padding: 30px 0;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    border-radius: 5px;
}

.ads-support-title {
    color: #e23e57; /* Utilisation de la couleur rouge dominante du site */
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.ads-support-description {
    color: #009688; /* Utilisation de la couleur verte du site */
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.ads-link {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    color: #fff;
    background-color: #e23e57; /* Utilisation de la couleur rouge dominante du site */
    border-radius: 4px;
    text-align: center;
    max-width: 200px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Transition douce lors du survol */
}

.ads-link:hover {
    background-color: #009688; /* Un effet de survol utilisant la couleur verte du site */
}


.slogan {
    font-size: 20px;
    color: #009688; /* Pour être en harmonie avec les autres éléments */
    text-align: center;
    margin: 20px 0; /* Pour ajouter un peu d'espace autour du slogan */
    font-weight: bold;
}

.note {
    margin-top: 20px;
    border: 1px dashed #009688;  /* Using the color from your other styles for consistency */
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;             /* A slightly smaller font-size makes it feel like a fine print note */
    color: #777;                /* A softer color to make it less dominant */
    background-color: #f5f5f5;  /* A light background to make the note stand out */
    font-style: italic;         /* Italicizing the note gives it a more personal touch */
}

.note::before {
    content: "ℹ️ ";            /* Using an information emoji as a prefix to the note */
    margin-right: 5px;
}


header {
    background: linear-gradient(to right, #e23e57, #009688); 
  }
  
  .hero {
    background: radial-gradient(circle, #009688, #e23e57);
  }

  h1 {
    font-family: 'Pacifico', cursive;
  } 
  
  .slogan {
    animation: moveText 1s ease infinite alternate;
  }

  button {
    transition: transform 0.3s ease;  
  }
  
  button:hover {
    transform: scale(1.1);
  }